
.my-class {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

.my-class:hover {
  background-color: #4caf50;
  color: white;
}
/* added some colloring for the buttons */
.btn-primary {

  background-color: #4875f0;
  font-size: 14px;
  border: none;
  display: inline-block;
  text-decoration: none;
  padding: 16px;
  border-radius: 60px;
  transition: 0.4s opacity, 0.5s;

}

.btn-primary:hover {

  cursor: pointer;
  opacity: 0.9;
  background-image:     linear-gradient(
    to right,
    rgb(231, 48, 57),
    rgb(226, 121, 15) 33.3%,
    rgba(3, 158, 182, 0.931) 83.25%,
    rgb(216, 63, 71) 100%

    );
    animation:slidebg 20s linear infinite;
  }

  @keyframes slidebg {
    to {
      background-position:20vw;
    }
  }

  .card {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 200px;
    padding: 8px;
    box-sizing: border-box;
    margin: 5px;
  }
  
  .card:hover {
    animation: cardHover 0.3s forwards;
    opacity: 5;
  }
  
  @keyframes cardHover {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.1);
      background: #6957ad;
    }
  }

  .skipperWrap {
    width: 100%;
    text-align: center;
  }
  
  .skipperWrap > button {
    border: 0;
    color: rgb(117, 43, 43);
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    color: #23233d;
    font-weight: bold;
    padding: 15px 20px;
    margin: 50px;
    cursor: pointer;
  }
  